.leaders {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 0.5rem;
    background-color: var(--white-color);
    padding: 0.75rem 0.5rem;
    box-sizing: border-box;
}

.leaders-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.leaders-title {
    text-transform: capitalize;
    font-family: "Trebuchet MS", Raleway, sans-serif;
    font-weight: 1000;
    font-size: clamp(1.2rem, 2.5vw, 1.6rem);
    color: var(--blue-color);
    /* text-decoration: underline double;
    text-underline-offset: 0.35rem; */
    white-space: nowrap;
    padding: 0 1rem 0.25rem 0.35rem;
}

.leaders-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, auto);
    gap: 1.5rem;
    justify-content: center;
    align-items: start;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.leaders-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    margin: 0;
    border-radius: 5px;
    border: 1px solid var(--green-color);
    background: var(--lightgreen-color);
    width: 100%;
    box-sizing: border-box;
}

.leaders-cell-more {
    justify-content: center;
}

.leaders-button-title {
    border: 0;
    text-align: center;
    font-weight: 500;
    /* font-size: clamp(1.0rem, 2.5vw, 1.1rem); */
    margin: 0.15rem;
    padding: 0.25rem;
    width: auto;
}

.leaders-button {
    border: 0;
    margin: 0.35rem 0.35rem 0 0.35rem;
    padding: 0;
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaders-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    cursor: pointer;
}

.leaders-button img:hover {
    transform: scale(0.97);
}

@media (max-width: 992px) { /* adjust grid for smaller screens */
    .leaders-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    .leaders-button {
        width: 170px;
        height: 170px;
    }

}

@media (max-width: 768px) { /* adjust grid for even smaller screens */
    .leaders-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.75rem;
    }
    .leaders-button {
        width: 140px;
        height: 140px;
    }
}

@media (max-width: 45rem) { /* column layout for mobile */
    .leaders-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }
    .leaders-button {
        width: 250px;
        height: 250px;
    }
}